body {
    background-color: #BAE3FF;
    font-family: Georgia, 'Times New Roman', Times, serif
}

header img {
    display: block;
    margin: 0 auto;
}

header {
    background-image: url(skyline.webp);
    background-size: cover;
}

.logo {
    width: 10rem;
    padding: 1rem;
}

nav {
    background-color: #363B81;
    border-radius: 20px;
    padding: 0.1rem;
    margin: 1rem 2rem;
    border: 1px solid #565CB3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

a.active {
    color: #BAE3FF;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 4rem;
}

a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

a:hover {
    text-decoration: underline;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

article.left {
    background-color: #95CCF8;
    padding: 1rem;
    border-radius: 20px;
    display: grid;
    margin: 1rem 1rem 1rem 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    align-content: start;
}

.booking-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 2rem;
}

article.booking {
    background-color: #95CCF8;
    display: grid;
    padding: 1rem;
    border-radius: 20px;
    margin: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

h1 {
    padding: 1rem;
    font-size: 24px;
    color: #26265A;
}

hr {
    border: none;
    height: 1px;
    background-color: #363B81;
    width: 95%;
    margin: 0.4rem auto;
}

p {
    padding: 1rem;
    font-size: 18px;
    color: #26265A;
}

article.right {
    background-color: #95CCF8;
    padding: 1rem;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 2rem 1rem 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    align-content: start;
}

article.right>p,
article.right>hr {
    grid-column: 1 / -1;
}

img {
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
}

footer {
    font-size: 18px;
    text-align: center;
    color: white;
    background-color: #363B81;
    border-radius: 20px;
    padding: 1.3rem;
    margin: 1rem 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    border: 1px solid #565CB3;
}

form {
    display: grid;
    padding: 1rem;
    gap: 5px;
    font-size: 18px;
}

textarea {
    overflow: hidden;
    resize: none;
}

#firstName,
#lastName,
#ccNumber,
#email,
#name {
    width: 300px;
    height: 35px;
}

#totalGuests {
    width: 120px;
    height: 35px;
}

#roomType,
#reason {
    width: 180px;
    height: 35px;
}

#other,
#description {
    width: 320px;
}

#expiry,
#cvc {
    width: 120px;
    height: 35px;
}

button {
    width: 80px;
    margin: 1rem;
    height: 35px;
}

.maps {
    width: 100%;
    height: 450px;
    margin: 0 auto;
    border-radius: 10px;
}

@media (max-width: 768px) {

    article.booking {
        margin: 1rem;
    }

    .booking-form {
        grid-template-columns: 1fr;
    }

    .logo {
        width: 8rem;
        height: auto;
    }

    section {
        grid-template-columns: 1fr;
    }

    article.left,
    article.right {
        margin: 1rem;
    }

    article.right {
        grid-template-columns: 1fr;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
        padding: 0;
    }

    img {
        width: 100%;
    }

    nav,
    footer {
        margin: 1rem;
    }

    a {
        font-size: 18px
    }

    #firstName,
    #lastName,
    #ccNumber,
    #email,
    #name {
        width: 260px;
        height: 35px;
    }

    #totalGuests {
        width: 90px;
        height: 35px;
    }

    #roomType,
    #reason {
        width: 160px;
        height: 35px;
    }

    #other,
    #description {
        width: 260px;
    }

    #expiry,
    #cvc {
        width: 90px;
        height: 35px;
    }

}